.markdown-title {
    .ivu-input {
        font-size: 28px;
        border: none;
        font-weight: 700;
        margin-bottom: 20px;
        &:focus {
            box-shadow: none;
        }
        &::placeholder {
            color: #666;
        }
    }
}
.markdown-footer {
    padding: 20px 0;
    text-align: right;
}
.summary-title {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
}
.summary-html {
    padding: 0 10px 10px;
    h2 {
        margin-top: 15px;
    }
    li {
        list-style: none;
        line-height: 1.8;
    }
}