.login-warp{
    margin: 0 auto;
    display: flex;
    width: 1180px;
    height: 588px;
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
    .login-left {
        width: 590px;
        height: 588px;
        background: url('../assets/bg2.jpg') center center no-repeat;
    }
    .login-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.login {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('../assets/bg.jpg');
    .header {
        text-align: center;
        margin-bottom: 56px;
        font-size: 32px;
        font-weight: 700;
        color: #000000;
        line-height: 45px;
    }
    .login-form {
    }
    .ivu-tabs-nav-container {
        line-height: 2;
        font-size: 17px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        zoom: 1;
    }
    .form {
        .input-verify {
            width: 70%;
        }
        .count-verify,
        .send-verify {
            width: 100px;
        }
    }
    .forget-pass,
    .other-way {
        font-size: 14px;
    }
    .login-btn,
    .other-login {
        margin-top: 3vh;
    }
    .icons {
        display: flex;
        align-items: center;
    }
    .other-icon {
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, .2);
        :hover {
            color: #2d8cf0;
        }
    }
}
.margin-l20 {
    margin-left: 20px;
}
.my-clock {
    position: fixed;
    top: 80px;
    right: 80px;
}