
.layout {
    background: #f5f7f9;
    position: relative;
    overflow: hidden;
}

.layout-logo {
    height: 64px;
    line-height: 64px;
    float: left;
    color: #fff;
    font-size: 24px;
}
.layout-right {
    height: 64px;
    line-height: 64px;
    float: right;
    color: #fff;
    font-size: 14px;
    span {
        margin-left: 20px;
        cursor: pointer;
    }
}
.ivu-menu {
    z-index: 0 !important;
}
.ivu-tabs-tabpane {
    min-height: 300px;
}
.clearfix:after {
    content: "\0020";
    display: block;
    clear: both;
    height: 0
}

.clearfix {
    zoom:1
}

.ivu-layout-header {
    padding: 0 24px !important;
}

.zk-sq {
    writing-mode: vertical-lr;
    background: #57a3f3;
    width: 20px;
    color: #fff;
    font-size: 12px;
    padding: 6px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 160px;
    left: 0;
}