
.layout {
    background: #F7F9F8;
    position: relative;
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #E8EDEA;
    padding: 0 28px;
    height: 55px;
    box-sizing: border-box;
    display: flex;
}

.layout-logo {
    height: 55px;
    line-height: 55px;
    color: #00A862;
    background: url(../assets/logo.svg) left center no-repeat;
    width: 250px;
    font-size: 0;
    &.expand {
        width: 50px;
    }
}
.zlk-logo {
    height: 55px;
    line-height: 55px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.user-icon {
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    background: url(../assets/user.png) center center no-repeat;
}
.menu-other {
    flex: 1;
    display: flex;
    .menu-expand {
        height: 55px;
        width: 32px;
        background: url(../assets/menu-fold.svg) center center no-repeat;
        cursor: pointer;
        &.expand {
            background: url(../assets/menu-unfold.svg) center center no-repeat;
        }
    }
}
.layout-right {
    color: #141d19;
    font-size: 14px;
    display: flex;
    align-items: center;
    span {
        margin-left: 20px;
        cursor: pointer;
    }
}
.ivu-menu {
    z-index: 0 !important;
}
.ivu-tabs-tabpane {
    min-height: 300px;
}
.clearfix:after {
    content: "\0020";
    display: block;
    clear: both;
    height: 0
}

.clearfix {
    zoom:1
}

.ivu-layout-header {
    &.zlk-header {
        background: #00A862;
    }
}

.zk-sq {
    writing-mode: vertical-lr;
    background: #57a3f3;
    width: 20px;
    color: #fff;
    font-size: 12px;
    padding: 6px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 160px;
    left: 0;
}
.layout-right-md {
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    a {
        color: #fff;
        margin-left: 20px;
        &:hover {
            color: #fff;
            opacity: 0.9;
        }
    }
}

.ivu-table-cell {
    padding-left: 8px;
    padding-right: 8px;
}
.ivu-table th, .ivu-table td {
    height: 46px;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    background: #F2FAF6;
}

.ivu-select-selection, .ivu-input,.ivu-checkbox-inner, .ivu-radio-inner {
    border: 1px solid #D5DAD8;
}
.kj-btn {
    background: #F2F4F3;
    border: 1px solid #F2F4F3;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    display: none;
}
.yggs-menu {
    padding: 8px;
}

.btn-line {
    width: 1px;
    height: 32px;
    background: #E8EDEA;
    margin: 0 16px;
    vertical-align: middle;
    display: inline-block;
    &.small {
        height: 16px;
        margin: 0 6px;
    }
}