.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo {
    height: 64px;
    line-height: 64px;
    float: left;
    color: #fff;
    font-size: 24px;
}
.layout-right {
    height: 64px;
    line-height: 64px;
    float: right;
    color: #fff;
    font-size: 14px;
    span {
        margin-left: 20px;
        cursor: pointer;
    }
}
.ivu-menu {
    z-index: 0 !important;
}